{% extends 'base.html.twig' %}

{% block title %}Edit Subjects{% endblock %}

{% block body %}
    <h1>Edit Subjects</h1>

    {{ include('subjects/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_subjects_index') }}">back to list</a>

    {{ include('subjects/_delete_form.html.twig') }}
{% endblock %}
